# Configuración del Servidor SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion_aqui

# Rutas de Credenciales de Servicios
GEE_CREDENTIALS_PATH=credentials/credenciales-gee.json
FLASK_ENV=development