docs/Anexos.docx
docs/Anexos.pdf
docs/Multimedia2.mp4
docs/Tesis Sistema Integrador de Agricultura de Precisión 25-06-2026.pdf
docs/Tesis Sistema Integrador de Agricultura de Precisión 15-06-2026.docx
docs/Tesis Sistema Integrador de Agricultura de Precisión.docx
docs/Tesis Sistema Integrador de Agricultura de Precisión.pdf
backend/config.py
monitoreo_db.json


__pycache__/
*.pyc
~$*.docx
.env